.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.header__title {
  margin: 0;
  padding: 0;
  width: 730px;
  font-weight: 700;
  font-size: 102px;
  line-height: 96px;
  padding-left: 64px;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 2;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 64px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}

.two-columns__brief{
  width: 175px;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  padding: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-weight: 700;
  font-size: 24px;
}

.digits {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 1100px;
}

.table__line {
  display: flex;
  justify-content: space-around;
}

.table__cell {
  width: 250px;
  vertical-align: top;
  padding-top: 60px;
}

.section-title {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  width: 60%;
}

.section-subtitle{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  width: 60%;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 0;
  padding: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.feynman {
  min-height: 890px;
  position: relative;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 70px;
  padding: 0;
  text-align: center;
}

.feynman__subtitle {
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  z-index: 3;
  margin: 0;
  padding: 0;
}

.feynman__img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: 1;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_theme_dark{
  color: white;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.section-subtitle_theme_dark{
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;
}

.table_theme_dark {
  position: relative;
  z-index: 2;
  font-size: 0;
  margin: 0 auto;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  padding: 0;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.footer {
  display: flex;
  min-height: 350px;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

.footer__colums {
  display: flex;
  width: 90%;
  min-height: 90%;
  justify-content: space-between;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__column__content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__column__content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px 0;
}

.footer__column-link {
  color: #fff;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
